.StatusLight{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.lightgreen{
  background-color: #00b100;
}

.grey{
  background-color: gray;
}

.black{
  background-color: black;
}

.yellow{
  background-color: #d3b700;
}

.red{
  background-color: #af2121;
}

.darkred{
  background-color: #750000;
}