.Application{
  display: flex;
  justify-content: space-around;
  color: #313131;
}

.ApplicationName{
  width: 100%;
  text-align: center;
  color: #313131;
  font-weight: 500;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}