.InfoHeading, .InfoParagraph{
  font-size: 22px;
  font-weight: 500;
  color: #313131;
}

.InfoParagraph{
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}

.InfoWrapper{
  padding: 20px 18px 20px 18px;
  height: 150px;
}