.Admin{
  display: flex;
  color: #313131;
}

.AdminName, .AdminEmail{
  width: 50%;
  text-align: center;
  color: #313131;
  font-weight: 500;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}